<a href="https://colab.research.google.com/github/Biniyamseid/datastructures-colab/blob/main/python%20datastrucures%20in%20google%20colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")
print("this")

hello world
this

In [ ]:
sum = 300
counter = 0
try:
  print(300/0)
except:
  print ("division error")

division error

In [ ]:
stocks = ['playway', 'boombit', 'cd projekt']
a = lambda x:len(x)
stocks = list(map(a,stocks))
print(stocks)

[7, 7, 10]

In [ ]:
stocks = [(1, 3), (4, 1), (4, 3), (0, 8)]
stocks.sort(key=lambda x:x[1])
print(stocks)

[(4, 1), (1, 3), (4, 3), (0, 8)]

In [ ]:
func_ = lambda x,y:x+y+2
print(func_(1,2))

5

In [11]:
fnames = ['data1.txt', 'data2.txt', 'data3.txt', 'view.jpg']
def file_gen(fname):
   for i in fname:
     if i.endswith(".txt"):
       yield i
print(list(file_gen(fnames)))

['data1.txt', 'data2.txt', 'data3.txt']

In [13]:
def enum(word):
  for i in range(len(word)):
    yield i,word[i]

k = list(enum(['TEN', 'CDR', 'BBT']))
print(k)

[(0, 'TEN'), (1, 'CDR'), (2, 'BBT')]

In [14]:
a = {1,1,1,1,1,}
print(a)

{1}

In [15]:
stocks = ['Playway', 'CD Projekt', 'Boombit']
print({i:len(i) for i in stocks})

{'Playway': 7, 'CD Projekt': 10, 'Boombit': 7}

In [18]:
import calendar

print(calendar.calendar(2022))

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31